.menu {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    flex-wrap: wrap;
}

@media screen and (min-width: 0) {
    .menuLista li {
        display: none;
    }
    .menuLista li:last-child {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        display: flex;
    }
}

@media screen and (min-width: 1440px) {
    .menuItem {
        display: block;
    }
}